@using BlazorCore.Data.Consts
@using BlazorCore.Data.Consts.ENConsts
@using BlazorCore.Components.Forms;
@using AppConstDotNet = DotNetCore.Consts.AppConst

<EditForm EditContext="EditContext">
    <DataAnnotationsValidator />
    
    <CustomInputText LabelText="@NewPasswordLabel"
              Placeholder="@UserConsts.Password"
              IsRequired="true"
              @bind-Value="NewPasswordModel.Password"
              Id="@PasswordConsts.PasswordId"
              Type="CustomInputText.InputType.Password"
              OnInput="async x => await ValidatePassword(x)"/>
    
    <CustomInputText LabelText="@UserConsts.RepeatPassword"
              Placeholder="@UserConsts.Password"
              IsRequired="true"
              @bind-Value="NewPasswordModel.ConfirmPassword"
              Id="@PasswordConsts.PasswordMatchId"
              Type="CustomInputText.InputType.Password"
              OnInput="async x => await ValidateMatchPassword(x)"/>


    <div id="errorslist" class="errors-list @(IsValidInitial ? string.Empty : "invalid-initial")
        @(_firstInputChanged ? string.Empty : "init")">
        <div id="length" class="pt-2">
            <div class="checkmark">
                <svg data-src="@IconsConst.Generic.Checkmark"/>
            </div>
            <span class="text text--xs">
                @string.Format(UserConsts.PasswordErrors.MaxLength, AppConstDotNet.PasswordMinLength)
            </span>
        </div>
        <div id="lowerupper" class="pt-2">
            <div class="checkmark">
                <svg data-src="@IconsConst.Generic.Checkmark"/>
            </div>
            <span class="text text--xs">@UserConsts.PasswordErrors.LowerUpperCase</span>
        </div>
        <div id="numbercharacter" class="pt-2">
            <div class="checkmark">
                <svg data-src="@IconsConst.Generic.Checkmark"/>
            </div>
            <span class="text text--xs">@UserConsts.PasswordErrors.NumberSpecialCharacter</span>
        </div>
        <div id="passwordmatch" class="pt-2">
            <div class="checkmark">
                <svg data-src="@IconsConst.Generic.Checkmark"/>
            </div>
            <span class="text text--xs">@UserConsts.PasswordErrors.PasswordMatch</span>
        </div>
    </div>
</EditForm>